body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-image: url("download (4).jpeg");
    background-size: cover; 
    background-position: center top;
    background-repeat: no-repeat;
}

nav a {
    margin-right: 15px;
    text-decoration: none;
    font-weight: bold;
    color: #333;
}

nav a:hover {
    color: blue;
}

h1 {
    color: #444;
}
